.title {
    color: rgb(255, 138, 138);
}

.body-bg {
    background-image: url('/static/blog/images/light-grey-background.jpg');
}

h1, footer {
    background-color: rgb(89, 103, 117);
    color: rgb(219, 219, 219);
    margin-top: 0.4cm;
}

.content {
    font-size: large;
}

.save-button {
    background-color: rgb(95, 152, 95);
    width: 7.2cm;
    height: 0.6cm;
    margin-bottom: 0.2cm;
}

.save-button:hover {
    background-color: rgb(2, 200, 2);
}

.delete-button {
    background-color: lightcoral;
    margin-bottom: 0.2cm;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.cancel-button {
    background-color:yellow;
}

.cancel-button:hover {
    background-color: rgb(2, 200, 2);
}


.search_ribbon {
    margin-bottom: 0.4cm;
}